--extra-index-url https://download.pytorch.org/whl/cpu

# Core
torch
numpy
pandas
scikit-learn
flask
gunicorn
python-dotenv
requests

# MLOps & Monitoring
mlflow
boto3
prometheus-client
gymnasium
tensorboard
matplotlib
seaborn