#requests
#mlflow
#numpy
#pandas
#scikit-learn
#torch
#gymnasium
#tensorboard
#matplotlib
#seaborn

--extra-index-url https://download.pytorch.org/whl/cpu

torch
numpy
pandas
scikit-learn
gymnasium
tensorboard
matplotlib
seaborn
requests
mlflow
prometheus-client
